@CHARSET "UTF-8";

.genome-panel {
    padding:20px;
    width: 250px;
    background: #efefef;
    border: #29216d 1px solid;
    position:absolute;
    top:200px;
    left:-291px;
}

.genome-panel a.genome-tab {
       background:transparent url(../images/genometab.png) no-repeat scroll 0 0;
       border-width: 1px 1px 1px 0;
       display:block;
       height:99px;
       left:51px;
       bottom:21px;
       position:relative;
       float:right;
       text-indent:-9999px;
       width:30px;
       outline:none;
}